{%extends 'index_2.html' %}

{%block content%}
<style>
.formsgroup{padding:25px;text-align:center;}
.formsgroup  input{padding:11px;display:inline-block;width:60%;
border:solid 1px lightblue;}
.formsgroup  select{padding:11px;display:inline-block;width:60%;
border:solid 1px lightblue;}
.details{color:lightgray;font-size:20px;}
</style>

<div class="details">
Trip Type :{{triptype}}
Return Date :{{goingdate}}
Origin:{{origin}}
Destination :{{destination}}
TranCode: {{trscode}}
</div>
<form method="POST"  class="formsgroup">
{% csrf_token %}
{{forms.as_p}}
<input type="submit" value="submit form">

</form>

{%endblock%}